/* GLOBAL STYLES */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Raleway:wght@200&family=Ubuntu:wght@300&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1A1A1A;
  color: #FFFF;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, p, a {
  margin : 0;
  font-size: inherit;
}

a {
  text-decoration: none;
  color: white;
}
